# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives:**


List popular languages for Data Science
- The Languages for Data Science jobs
- Some of the Libraries used by Data Scientist
- Some of the Data Science Tools used by Data Scientist
- Evaluating Arithmetic Expression using Python
- Using Python to multiply and add integers
- Converting 200 minutes to hours using python

# Some of the popular languages that Data Scientists use are: 

1. - PYTHON
2. - R
3. - SQL

# Some of the popular languages that Data Scientists use are: 

1. PYTHON
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. SCIPY
2. PANDAS
3. NUMPY
4. MATPLOTLIB
5. KERAS

| Data Science Tools |
| ----------- |
| Python |
| R |
| SQL |

### Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers

In [12]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [14]:
a = 200 # 200 Minutes 
b = 60 # 60 Minutes Makes 1 hour 
c = a / b # To change Minutes to hours 
print (c)

3.3333333333333335

# **Author**

TANDU OSAJI TANDU